<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BlogMX</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PokusServlet</display-name>
    <servlet-name>PokusServlet</servlet-name>
    <servlet-class>cz.mixx.blog.servlets.PokusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PokusServlet</servlet-name>
    <url-pattern>/PokusServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>cz.mixx.blog.listeners.PokusListener</listener-class>
  </listener>
  <context-param>
    <param-name>dog</param-name>
    <param-value>Alík</param-value>
  </context-param>
</web-app>